<h1>Hello Secret Page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam accusantium amet numquam, asperiores expedita hic repellendus error assumenda saepe, maxime quas. Nulla natus, quam at sequi ex neque, temporibus autem!</p>

<li>
	<a href="/register">Sign UP!</a>
	<a href="/login">Login</a>
	<a href="/logout">Logout</a>
</li>
