<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="ui inverted menu">
    <a href="/" class="item">
      <i class="icon code"></i>
      Site Blog
    </a>
    <a href="/" class="item">
      Home
    </a>
    <a href="/blog/new" class="item">
      New Post
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>

  <div class="ui main container">
