<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	<title>Yelp Camp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
	<link rel="stylesheet" href="../public/css/style.css" type="text/css">
</head>
<body>

	<div class="ui secondary pointing menu">
	  <a class="item" href="/">
	    Home
	  </a>
	  <a class="item" href="/campground/new">
	    Add New Campground
	  </a>
	  <div class="right menu">
	    <a class="ui item">
	      Logout
	    </a>
	  </div>
	</div>
