<% include partials/header %>

<div class="ui container">
	<form class="ui form" action="/campground" method='post'>
		<div class="field">
			<label>Name of the campground</label>
			<input type="text" name="camp[name]" placeholder="Name.">
		</div>
		<div class="field">
			<label>A photo of the view</label>
			<input type="text" name="camp[image]" placeholder="Image Link.">
		</div>
		<div class="field">
			<label>How it is?</label>
			<textarea name="camp[desc]" rows="8" cols="80"></textarea>
		</div>
		<input class="ui button" type="submit">
	</form>
</div>

<% include partials/footer %>
