<% include partials/header %>

<div class="ui container">
  <h1 class="ui header huge" > <%= campground.name %></h1>
  <img class="ui centered large image" src="<%= campground.image %>">
  <p><%= campground.desc %></p>
</div>

<% include partials/footer %>
