<div class="ui bottom menu">
  <div class="item">
    <a href="http://facebook.com/ateliemite">
      <i class="facebook f icon"></i>
    </a>
  </div>
  <div class="item">
    <a href="http://facebook.com/ateliemite">
      <i class="instagram icon"></i>
    </a>
  </div>
  <div class="item">
    <a href="http://facebook.com/ateliemite">
      <i class="pinterest icon"></i>
    </a>
  </div>
  <div class="right item">
    <a href="/signup">Fale Conosco</a>
  </div>
  <div class="right item">
    <p>Atelie Miti &copy;</p>
  </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</html>
