<h1>Friends</h1>

<% for (var i = 0; i < friends.length; i++) {%>
	<li>  <%= friends[i]%></li>
	<% } %>

<form action="/addfriends" method="POST">
	<input type="text" name="friendName">
</form>

<div>
		Our first teste.
</div>
