<% include ./partials/header %>

<form action="/blog/<%= post._id %>?_method=PUT" method="POST" class="ui form">
  <div class="field">
    <label>Title</label>
    <input type="text" name="post[title]" placeholder="<%= post.title %>">
  </div>
  <div class="field">
    <label>Image Link</label>
    <input type="text" name="post[image]" placeholder="<%= post.image %>">
  </div>
  <div class="field">
    <label>Description</label>
    <textarea name="post[description]" rows="8" cols="80"><%= post.description %></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

<% include ./partials/footer %>
