<% include ./partials/header %>
<form action="/blog" method="POST" class="ui form">
  <div class="field">
    <label>Title</label>
    <input type="text" name="post[title]" placeholder="Title">
  </div>
  <div class="field">
    <label>Image Link</label>
    <input type="text" name="post[image]" placeholder="Image link">
  </div>
  <div class="field">
    <label>Description</label>
    <textarea name="post[description]" rows="8" cols="80"></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

<% include ./partials/footer %>
