<html>

<head>
  <title>Campground Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="ui primary menu">
    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/campground/new">
      Add New
    </a>
    <div class="right menu">
      <div class="ui item"><a href="/login">Login</a></div>
      <div class="ui item"><a href="/register">Register</a></div>
      <div class="ui item"><a href="/logout">Logout</a></div>
    </div>
  </div>
