h1 {
	text-align: center;
	margin: 20px;
}
table {
	margin: auto;
}

td {
	padding: 60px;
	border: 1px solid black;
}

.one {
	border-left: 0px;
	border-top: 0px;
}
.two {
	border-top: 0px;
}
.three {
	border-right: 0px;
	border-top: 0px;
}
.four {
	border-left: 0px;
}
.six {
	border-right: 0px;
}
.seven {
	border-left: 0px;
	border-bottom: 0px;
}
.eight {
	border-bottom: 0px;
}
.nine {
	border-right: 0px;
	border-bottom: 0px;
}
