<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
  <div class="ui inverted menu">
    <a class="item" href="/blog">
      <i class="icon code"></i> Blog Site
    </a>
    <a class="item" href="/blog">
      Home
    </a>
    <a class="item" href="/blog/new">
      New Post
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
